.wrapper {
  touch-action: manipulation;
}

.value {
  direction: ltr;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  width: 280px;
}

.silent_number {
  border: 0;
  outline: none;
  display: inline;
}

input[type=number].silent_number::-webkit-inner-spin-button,
input[type=number].silent_number::-webkit-outer-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;

  /* Firefox */
  -moz-appearance: textfield;
}
